.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 30px;
    color: azure;
    font-weight: bold;
    padding-bottom: 50px;
}

.Contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.numerador {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-right: 10;
    background: #74ebd5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.Contenedor-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: auto;
    background: #654ea3;
    /* fallback para navegadores antiguos */
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
    background: linear-gradient(to right, #eaafc8, #654ea3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 20px;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
    background: #74ebd5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.botones a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(84, 0, 105);
    text-decoration: none;
}

.separador {
    margin-top: 20px;
    margin-bottom: 20px;
}